table {
  border-collapse: collapse;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
caption {
  
  padding-left: 10px;
  background-color: #fff6ce;
  border: 1px solid black;
  border-bottom: none;
}
td,
th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-size: 18px;
}
th {
  font-weight: bold;
  background-color: #fff6ce;
}